
<div> <h1 style="text-align:center;">Welcome to  Task Tracker</h1></div>
<div>
  <form #taskref ngSubmit="check()">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput name="Id" #tid />
    </mat-form-field><br /><br />
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput name="Name" #tnam />
    </mat-form-field><br /><br />
    <mat-form-field>
      <mat-label>Task</mat-label>
      <input matInput name="Task" #ttask />
    </mat-form-field><br /><br />
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput type="date" name="Task" #tdate />
    </mat-form-field><br /><br />

  </form>

  <button mat-raised-button color="accent" (click)="det(tid,tnam,ttask,tdate)">Submit</button>
  </div>
<div>
  <br />

   
    <table border="1">

      <tr>
        <th> ID</th>
        <th>Name</th>
        <th>Task</th>
        <th>Deadline</th>
      </tr>
      <tr  *ngFor="let emp of employee">
        <td>{{emp.Id}}</td>
        <td>{{emp.Name}}</td>
        <td>{{emp.Task}}</td>
        <td>{{emp.Deadline}}</td>

      </tr>
    </table>

</div>
